:root {
    --fontHeading: 'PT Sans', sans-serif;
    --fontParrafos: 'Open Sans', sans-serif;

    --primary: #784D3C;
    --white: #f4f4f4;
    --white-light: #e1e1e1;
    --black: #050505; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit; /*Heredar del elemento padre*/
}

body {
    font-family: var(--fontParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto; /*Centrar contenido horizontalmente*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fontHeading);
    line-height: 1.2;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }

img {
    max-width: 100%;
}

/*Utilidades*/

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.text-center {
    text-align: center;
}


/*header*/

.header {
    background-color: var(--black);
    -webkit-box-shadow: 0px 7px 5px 2px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 7px 5px 2px rgba(0,0,0,0.09);
    box-shadow: 0px 7px 5px 2px rgba(0,0,0,0.09);
}

@media (min-width: 768px) { 
    .header {
         position: sticky;
         top: 0;
         padding: 5px;
     }
} 

.webp .img-banner {
    background-image: url(../img/banner.webp);
}

.no-webp .img-banner {
    background-image: url(../img/banner.jpg);
}

.img-banner {
    height: 60rem;
    background-size: cover; /*Adapta la imagen al tamaño de pantalla*/
    background-repeat: no-repeat;
    background-position: center center; /*centramos horizontal y  vertical*/
}


.img-text {
    top: 0;
    margin: 0 auto;
} 

.text__img {
    text-align: center;
    color: var(--white);
}

.text__img p {
    font-weight: 700;
}


/*navbar*/

@media (min-width: 768px) { 
    .navbar {
        display: flex;
        justify-content: space-between; /*Organizar horizontalmente*/
        align-items: center; /*Alinear verticalmente*/
    }
}

.logo {
    color: var(--white);
}

.logo__name {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}

.nav {
    display: grid;
    text-align: center;
    gap: 1.2rem;
    padding-bottom: 1.5rem;
}

@media (min-width: 768px) { 
    .nav {
        display: flex;
        justify-content: space-between;
        gap: 3.5rem;
        padding: 0;
    }
}

.navbar {
    background-color: #050505;
}

.nav__link {
    color: var(--white);
    transition: transform .4s ease-in-out;
}

.nav__link:hover {
    transform: scale(1.2);
    font-weight: 700;
}

/*section __ principal-content*/

@media (min-width: 768px) { 
    .principal-content{
        display: grid;
        grid-template-columns: 2fr 1fr; /*2 columns la primera 2 veces mas que la 2*/
        column-gap: 5rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--white-light);
    margin-bottom: 2rem;
}

/*Agarra el último elemento con la clase .entrada */
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}


.btn {
    display: block;
    font-family: var(--fontHeading);
    color: var(--white);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 7px;
    border: none;
}

@media (min-width: 768px) { 
    .btn {
        display: inline-block;
    }
}

.btn:hover {
    opacity: 0.95;
    cursor: pointer;
    transform: scale(1.0010);
}

.btn--primary {
    background-color: var(--primary);
}


/*cursos*/

.sidebar__line {
    border-left: 1px solid var(--white-light);
}

.sidebar h3 {
    padding-left: 10px;
}

.btn--secundary {
    background-color: var(--black);
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--white-light);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border: none;
    border-bottom: 0;
}

.widget-curso__price,
.curso__label {
    font-family: var(--fontHeading);
    font-weight: bold;
}

.widget-curso__info,
.curso__info {
    font-weight: normal;
}

.widget-curso__info, 
.widget-curso__price,
.curso__info,
.curso__label {
    font-size: 2rem;
}

/*Footer*/

.footer {
    background-color: var(--black);
    padding: 3rem 0;
    margin-top: 4rem;
}

/*About*/

@media (min-width: 768px) { 
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
    }
}

/*cursos*/

.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--white-light);
}

@media (min-width: 768px) { 
    .curso {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}

.curso:last-of-type {
    border: none;
}

.curso__context {
    padding: 4rem 0 0 1rem;
}

/*Contacto*/

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--white-light);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    border-radius: 7px;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.09);
}

.campo {
    display: flex;
    margin-bottom: 10px;
}

.campo__label {
    flex: 0 0 9rem;
    font-family: var(--fontParrafos);
    font-weight: bold;
    text-align: end;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--white);
}

.campo__field--textarea {
    height: 15rem;
}

.campo--btn {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    /*border: 1px solid red;  Guía */
}